.header__lang-link {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  list-style-type: none;
  flex-direction: row;
  color: #FFFFFF;
}