.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  justify-content: center;
  padding: 92px 48px 92px;
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    padding: 88px 24px 92px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 280px;
    padding: 64px 16px 64px;
  }
}