.lead {
  max-width: 984px;
  min-height: 1005px;
  padding: 0px 148px 92px;
  margin: 0;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead  {
    max-width: 928px;  
    min-height: 962px;
    padding: 0px 48px 92px;
  }
}
  
@media screen and (min-width: 501px) and (max-width: 768px) {
  .lead   {
    max-width: 928px;  
    min-height: 962px;
    padding: 0px 0px 88px;
  }
}

@media screen and (min-width: 401) and (max-width: 500px) {
  .lead   {
    max-width: 320px;  
    min-height: 406px;
    padding: 0px 0px 64px;
  }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
  .lead   {
    max-width: 320px;  
    min-height: 406px;
    padding: 0px 0px 64px;
  }
}

@media screen and (min-width: 100px) and (max-width: 320px) {
  .lead {
    max-width: 320px;  
    min-height: 406px;
    padding: 0px 0px 64px;
  }
}