.lead {
  display: flex;
  max-width: 984px;
  margin: 58px 148px 92px;
  flex-direction: column;
  position: relative;
}


@media screen and (max-width: 1024px) {
  .lead  {
    max-width: 928px;  
    margin: 50px auto 92px;
  }
}
  
@media screen  and (max-width: 768px) {
  .lead   {
    max-width: 768px;  
    margin: 50px auto 88px;
  }
}

@media screen  and (max-width: 600px) {
  .lead   {
    max-width: 320px;  
    margin: 50px auto 64px;
  }
}