.intro {
  display: flex;
  margin: 0px 442px 92px 148px;
  max-width: 690px;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
      margin: 0px 286px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
      max-width: 720px;
      margin: 0px auto 88px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
      max-width: 288px;
      margin: 0px auto 64px;
  }
}
